body {
    font-family: 'EB Garamond', serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

header {
    position: relative;
}

.navbar {
    position: fixed;
    z-index: 100; 
    width: 100%;
    top: 0;
    display: flex;
    justify-content: space-around;
    background-color:rgba(51, 51, 51, 0.70) 
}

.navbar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center     ;
}

.navbar ul li a {
    display: block;
    color: white;
    /* font-weight: bold; */
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    margin: 10px; 
    border-radius: 10px; 
    transition: all 0.2s ease-in-out;
}

.navbar ul li a:hover {
    background-color:rgba(255, 255, 255, 0.2);
    color: black;
}

.social-links {
    display: flex;
    align-items: center;
}

.social-icon {
    height: 24px; 
    width: auto;
    margin-left: 10px; 
}
.navbar .social-links {
    margin-left:0%;
}

.navbar.solid-background {
    background-color: rgba(51, 51, 51, 1); 
}

.background-image {
    background-image: url('bg.jpg'); 
    height: 75vh;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: space-between; 
    align-items: center;
    text-align: left;
}

.welcome-text,
.profile-container {
    color: white;
    flex: 1; 
    font-size: large;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.welcome-text {
    padding-left: 5%; 
    margin-left: 100px;
}

.welcome-text h1 {
    margin-bottom: 20px; 
}

.welcome-text p {
    margin-top: 0; 
}

.profile-container img {
    margin-top: 10%;
    max-height: 60vh;
    max-width: 100%; 
    height: auto; 
    border-radius: 100%; 
    object-fit: cover; 
    margin-left: 60px;
}



.bio {
    text-align: center;
    padding-left: 200px;
    padding-right: 200px;
    font-size: larger;
}

.highlights {
    text-align: center;
    font-size: larger;
    padding: 10px 20px 20px 20px;
}

.highlights h1 {
    margin-bottom: 30px;
    font-size: 2em;
}

.card-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px; /* Adds space between the cards */
}

.card {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden; 
    width: 300px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    height: 550px; 
}

.card img {
    width: 100%; 
    height: 400px; 
    max-height: 225px;
    object-fit: contain;
    align-items: center;
    background-color: white;
}

.card-content {
    padding: 20px;
    flex: 1;
    display: flex;
    flex-direction: column; 
}
.card:hover {
    transform: scale(1.05);
    transition: all 0.2s ease-in-out;
    background-color:rgba(51, 51, 51, 0.30);
}

.card-content h3 {
    margin-top: 0;
}

.card-content p {
    font-size: 1em;
    flex-grow: 1; 
    height: 60px;
}

.btn {
    background: rgba(51, 51, 51, 1);
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    display: inline-block;
    border-radius: 5px;
    margin-top: 15px;
}

.btn:hover {
    background: #304d6d;
}

footer {
    background-color:rgba(51, 51, 51, 0.1);
    text-align: center;
    padding: 1px 0;
}
